{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

<!-- Display stocks owned, number of stocks owned,current price of stocks, total value of stocks, value of cash, value of stocks plus cash  -->
{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Transactions</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post" class="needs-validation" novalidate>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>
             <!-- data assigned names to the input tag and the select tag. -->
            {% for stock in stocks %}
            <tr>
                <td class = "symbol">{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price_per_share | usd }}</td>
                <td>{{ stock.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
