{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Sell</h1>

    <form action="/sell" method="post">
        <div class="form-group symbol">
            <select class="form-control symbol" name="symbol" required>
                <option disabled selected value selected>Symbol</option>

                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}" data-total-shares="{{ stock.total_shares }}" class="symbol">{{ stock.symbol }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number" min="1" required />
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}